[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "energyrunner"]
	path = energyrunner
	url = git@github.com:eembc/energyrunner.git
[submodule "tiny"]
	path = tiny
	url = git@github.com:mlcommons/tiny.git
